@font-face {
  font-family: minecraftia;
  src: url(../fonts/Minecraftia.ttf);
}

body, div, p, a {
  font-family: minecraftia;
}

a {
  color: #ccc;
}

#reactor-controls {
  position: fixed;
  top: 105px;
  left: 0;
  padding: 15px;
  max-width: 300px;
}

.masthead {
  height: 90px;
}

#controls-grid {
  padding-top: 10px;
}

#page-container {
  position: fixed;
  top: 110px;
  left: 320px;
}

.page {
  display: none;
  position: relative;
}

.center-page {
  display: inline-block;
  margin: 0 auto;
}

.grid-option {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.texture {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.grid-option.selected {
  border: 2px solid yellow;
}

h4 {
  margin: 15px;
  text-decoration: underline;
}

.dim-prompt {
  display: inline-block;
}

.dim-prompt label {
  display: block;
}

.dim-prompt input[type="text"] {
  width: 50px;
  color: #000;
  text-align: center;
}

.buttons {
  margin-top: 30px;
}

.grid-table {
  max-width: 900px;
}

.grid-table, .grid-table td {
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

.grid-table td.contents:hover {
  background-color: rgba(0, 0, 0, 0.5);
  filter:alpha(opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
  opacity:.50;
}

.grid-table td.contents {
  cursor: pointer;
}

.grid-table td .texture {
  width: 50px;
  height: 50px;
}

#fill-controls {
  margin: 15px;
}

#reactor-area {
  max-width: 500px;
  max-height: 500px;
  overflow: visible;
}

#simulation-results ul {
  list-style: none;
}

#simulation-results ul li {
  text-align: left;
}

#simulation-results .unit, #simulation-results .value {

}

#simulation-results .unit {
}

.ico {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.ico-temperature {
  background-image: url(../icons/temperature.gif);
}

.ico-energy {
  background-image: url(../icons/energyOutput.gif);
}

.ico-consumption {
  background-image: url(../icons/fuelUsageRate.gif);
}

.ico-fertility {
  background-image: url(../icons/reactivity.gif);
}

.ico-hotFluid {
  background-image: url(../icons/hotFluidOut.gif);
}

#error-area {
  color: #f00;
}

.r-input-group {
  display: inline-block;
  vertical-align: top;
}

.r-input-group label.checkbox-label {
  display: inline-block;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style:none;/*IE*/
}

#simulation-results {
  display: none;
}
